body{
    background-image: url(./img/kaysha-V3qzwMY2ak0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    
}

h1, h2, h3{
    color: white;
}

h1{
    text-align: center;
}

img{
    border-radius: 30px;
    background-color: brown;
}



